<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body class="{{ page.layout }} {{ page.page_class }}">
    <div id="wrapper">
      {% include navbar.html %}

      <image
        src="/images/top-background-optimized.svg"
        class="background-top"
      ></image>

      <div class="section">
        <main class="container">
          {{ content }}
        </main>
      </div>
    </div>

    <image
      src="/images/site-background-optimized.svg"
      class="background-bottom"
    ></image>
  </body>
</html>
