<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body class="{{ page.layout }} {{ page.page_class }}">
    <div id="wrapper">
      {% include navbar.html %}

      <img
        src="/images/top-background-optimized.svg"
        class="background-top"
        alt="background image top"
      />

      <div class="section">
        <main class="container">
          {{ content }}
        </main>
      </div>
    </div>

    <img
      src="/images/site-background-optimized.svg"
      class="background-bottom"
      alt="background image bottom"
    />
  </body>
</html>
