@import "~bulma/bulma";

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#wrapper {
  flex: 1;
}

.navbar,
.navbar-menu {
  background-color: #03468f;
}

.navbar-item {
  color: white;
}

.navbar-brand > a.navbar-item:hover,
a.navbar-item:hover,
a.navbar-item.active {
  background-color: #022c58;
  color: white;
}

.navbar-burger {
  color: white;
}

.navbar-burger:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

a.navbar-burger:hover {
  color: white;
}

.section {
  padding: 1.5rem 1.5rem;
}

.has-bottom-border {
  border-bottom: 1px solid grey;
}

.has-light-bottom-border {
  border-bottom: 1px solid lightgrey;
}

.background-top {
  position: absolute;
  right: 0;
  max-height: 70px;
  margin-top: -1px;
}

.background-bottom {
  max-height: 300px;
  margin-left: -5px;
  margin-right: auto;
}

.icons-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.icon-container {
  display: flex;
  justify-content: center;
}

.icon-container img {
  max-height: 75px;
  max-width: 125px;
  width: auto;
}

.icon-container.icon-horizontal img {
  width: max-content;
}

img.phone-image {
  max-height: 600px;
  width: auto;
}

@include mobile {
  .background-top {
    height: 40px;
  }

  .section {
    padding: 3rem 1.5rem;
  }

  #icon-row-2 {
    margin-top: 0 !important;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  #homepage-image-container {
    margin-left: 6rem !important;
    margin-right: 6rem !important;
  }
}

@include until($fullhd) {
  .background-top {
    height: 50px;
  }
}
